.DS_Store
.htaccess
.debug.log
.debug_repo.log
.cron.log

.wallet.log
.ftpquota
*.zip

exclude/*

application/cache/*
!application/cache/index.html


application/logs/*
!application/logs/index.html

composer.lock

application/controllers/Playground.php
application/config/global.php
application/config/settings.php
application/config/config.php
application/config/database.php
application/config/company.php
application/config/pg.php
application/views/gmlm/index.php
application/session/
application/config/session/
error_log

.well-known/
axxets/client/*
!axxets/client/placeholder.png

uploads/kyc/*
!uploads/kyc/placeholder.png

uploads/profile/*
!uploads/profile/placeholder.png

uploads/legal/*
!uploads/legal/placeholder.png

uploads/products/*
!uploads/products/placeholder.png

uploads/backup/*
!uploads/backup/placeholder.png

uploads/member_data/*
!uploads/member_data/placeholder.png

*.sql

!application/.htaccess
!application/cache/.htaccess
!application/vendor/phenx/php-font-lib/.htaccess

axxets/email/

axxets/stack/

axxets/mega/

*.log
*.rar
.idea/
node_modules
/src
package-lock.json
gulpfile.js
package.json
tailwind.config.js
webpack.config.js
postcss.config.js

*.yml