<!DOCTYPE html>
<html>
<head>
	<title>Two wheeler</title>
	<meta charset="utf-8"> 
<meta name="viewport" content="width=device-width,initial-scale=1.0"> 
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" type="text/css" href="twowheeler.css">

</head>
<body>
<header>
	<div class="container">
			<nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color:#126185;font-size:medium;">
				<a class="navbar-brand mr-auto" href="#">
	      			<img class="img-fluid" style="height:50px;width: 200px;" src="http://insurence.travelcreditmaster.com/index/images/brokerassist.png">
	     		</a>
	    			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_Navbar">
	     				<span  class="navbar-toggler-icon" style="border: none;"></span>
	     			</button>
	      		<div class="collapse navbar-collapse" id="collapse_Navbar">
	       			<ul class="navbar-nav ml-auto" style="margin-right: 30px;">
	    				<li class="nav-item">
	          				<a class="nav-link " href="#" style="color: #ffffff !important;"><span class="fa fa-home"></span>Home</a>&nbsp;
	    				</li>
	    				<li class="nav-item" >
	    					<a class="nav-link" href="#" style="color: #ffffff !important;"><span class="fa fa-bell"></span>Notifications</a>
	    				</li>
	    				<li class="nav-item" >
	    					<a class="nav-link n" href="#" style="color: #ffffff !important;"><span class="fa fa-envelope"></span>Reminder</a>
	    				</li>
	    				<li class="nav-item" >
	    					<a class="nav-link n" href="#" style="color: #ffffff !important;"><span class="fa fa-rupee"></span>Incentive</a>
	    				</li>
	    				<li class="nav-item" >
	    					<a class="nav-link n" href="#" style="color: #ffffff !important;"><span class="fa fa-sign-in"></span>Login</a>
	    				</li>
	    				
					</ul>
					 <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
				</div>
			</nav>
	</div>
	<div class="col-lg-12 sub" style="display: none">
		<img src="http://insurence.travelcreditmaster.com/health-images/tmc.png">
	</div>
</header>
<section class="main">
	 <div class="col-lg-8 mx-auto">
	 	<div class="card card-body m">
		<div class="row">	
			<ul>
				<li> Bike Insurance</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><div class="custom-control custom-radio">
  			 		<input name="collapseGroup" type="radio" id="customRadio1" name="customRadio" class="custom-control-input" data-target="#collapse1" data-toggle="collapse" aria-expanded="true" checked>
  					<label class="custom-control-label" for="customRadio1">  New</label>
					</div>
				</li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<li><div class="custom-control custom-radio">
  					<input name="collapseGroup" type="radio" id="customRadio2" name="customRadio" class="custom-control-input collapse" data-target="#collapse2" data-toggle="collapse" aria-expanded="false">
  					<label class="custom-control-label" for="customRadio2"> RENEWAL/ROLLOVER</label>
					</div>
				</li>
			</ul>	
		</div>
		<div id="accordion">
		<div class="collapse show" id="collapse1" data-parent="#accordion">
		  <div class="card card-body">
			    <div class="card-body px-lg-5 pt-0">
			        <form class="text-center" style="padding-top: 30px;" action="#" method="post">
			            <div class="form-row">
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <input type="text"  class="form-control" placeholder="RTO" required="">
			                       
			                    </div>
			                </div>
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <input type="" class="form-control" placeholder="Registration Number" required="">
			                        
			                    </div>
			                </div>
			            </div>
			            <div class="form-row">
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <input type="text"  class="form-control" placeholder=" Make/Model" required="">
			                      
			                    </div>
			                </div>
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <input type="date" class="form-control" required="" placeholder="Date of Registration/Date of 1st Purchase">
			                         <label>Date of Registration/Date of 1st Purchase</label>
			                    </div>
			                </div>
			            </div>
			            <div class="form-row">
			                <div class="col-sm-12 col-lg-6">
			                    <div class="md-form in">
			                        <input type="number"  class="form-control" placeholder="Mobile Number" required="">
			                       
			                    </div>
			                </div>
			            </div>
			           	<div class="text-center">
			           		<button class="btn btn-md btn-warning bt"><b>Get Quotes</b></button>
			           	</div>
			        </form>
			    </div>
			
		  </div>
		</div>
		<div class="collapse" id="collapse2" data-parent="#accordion">
		  <div class="card card-body ">
		   	<div class="card-body px-lg-5 pt-0">
			        <form class="text-center" style="padding-top: 30px;" action="#"  method="post">
			            <div class="form-row">
			                <div class="col-lg-6 col-sm-12 " >
			                    <div class="md-form in">
			                        <input type="text"  class="form-control" placeholder="RTO CODE" required="">
			             
			                    </div>
			                </div>
			                <div class="col-lg-6 col-sm-12 ">
			                    <div class="md-form in">
			                        <input type="" class="form-control"  placeholder="Registration Number" required="">
			                        
			                    </div>
			                </div>
			            </div>
			            <div class="form-row">
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <input type="text"  class="form-control"  placeholder="Make/Model" required="">
			                      
			                    </div>
			                </div>
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <input type="date" class="form-control" placeholder="Date of Registration/Date of 1st Purchase" required="">
			                         <label>Date of Registration/Date of 1st Purchase</label>
			                    </div>
			                </div>
			            </div>
			            <div class="form-row">
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <input type="date"  class="form-control" placeholder="Previous Policy Expiry" required="">
			                       
			                    </div>
			                </div>
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
								    <select class="form-control md-form" id="Claim">
								      <option>Yes</option>
								      <option>No</option>
								    </select>
								    <label for="Claim">Claim Made Last Year?</label>
  								</div>
			                </div>
			            </div>
			            <div class="form-row">
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                       <select class="form-control md-form form-control-md" id="Claim">
								      <option>--Select--</option>
								      <option>0%</option>
								      <option>20%</option>
								      <option>25%</option>
								      <option>35%</option>
								      <option>45%</option>
								      <option>50%</option>
								      
								    </select>
			                        <label >No Claim Bonus % </label>
			                    </div>
			                </div>
			                <div class="col-lg-6 col-sm-12">
			                    <div class="md-form in">
			                        <select class="form-control md-form" >
			                        	<option value="Select">Select</option>
										<option value="Bajaj Allianz">Bajaj Allianz</option>
										<option value="BhartiAxa">BhartiAxa</option>
										<option value="Cholamandlam">Cholamandlam</option>
										<option value="Future Generalli">Future Generalli</option>
										<option value="GoDigit">GoDigit</option>
										<option value="HDFC ERGO">HDFC ERGO</option>
										<option value="ICICI Lombard">ICICI Lombard</option>
										<option value="Iffco Tokio">Iffco Tokio</option>
										<option value="Kotak">Kotak</option>
										<option value="L&amp;T Insurance">L&amp;T Insurance</option>
										<option value="Liberty Videocon">Liberty Videocon</option>
										<option value="National Insurance">National Insurance</option>
										<option value="New India">New India</option>
										<option value="Oriental Insurance">Oriental Insurance</option>
										<option value="Reliance General">Reliance General</option>
										<option value="Royal Sundaram">Royal Sundaram</option>
										<option value="SBI General ">SBI General </option>
										<option value="Shriram">Shriram</option>
										<option value="TATA AIG">TATA AIG</option>
										<option value="United India">United India</option>
										<option value="Universal Sompo">Universal Sompo</option>

			                        </select>
			                         <label>Previous Insurer</label>
			                    </div>
			                </div>
			            </div>
			            <div class="form-row">
			                <div class="col-sm-12 col-lg-6">
			                    <div class="md-form in">
			                        <input type="Number"  class="form-control" placeholder="Mobile Number" required="">
			                        
			                    </div>
			                </div>
			  
			            </div>
			           	<div class="text-center">
			           		<button class="btn btn-md btn-warning bt"><b>Get Quotes</b></button>
			           	</div>
			        </form>
			    </div>	
		  </div>
		</div>
		</div>
	</div>
	</div>
</section>
<footer>
	<div class="footer" >
			<div style="padding-top:20px;">
				<ul >
					<li class="list">Home &nbsp;|</li>
					<li class="list">About Us &nbsp;|</li>
					<li class="list">Services &nbsp;|</li>
					<li class="list">Enquiry &nbsp;|</li>
					<li class="list">Contact Us &nbsp;|</li>
				</ul>
			</div>
		</div>
</footer>
</body>
</html>