.main{
        padding-top: 110px;
        padding-bottom: 200px;
    }
    .accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
.accordion .card-header.collapsed:after {
    content: "\f067"; 
}
.accordion .card-header{
    background-color: #2AA4CF;
    color: white;
  border-color: white;

}
ul{
  list-style: none;
}
.search{
  color: red;
}
.fa-car{
  color: #1EDD8E;
}
.panel-body{
  padding: 10px;
}
.modal-footer{
  color: red;
  padding-right: 50px;
}
.mainmodal span{
    float: right;
}
.mainmodal p{
    font-weight: bold;
    font-size: large;
}
.total{
    color: red;
}
.mainmodal li{
    color: #126185;
}
.mainf span{
    padding-left: 5px;
    padding-right: 15px;
    color:  rgb(18, 97, 133);
    font-weight: bold;
}
.booking_2{
    margin-top: 20px;
}