
  	.main{
  		padding-top: 200px;
  		padding-bottom: 200px;
  		background-image: url("../images/bikeinsurancebg.jpg");
  		
  	}
  	.name{
  		padding-top:100px;
  		text-align: center;
  		color: #126185 !important;
  	}
  	label{
 		color: grey;
 	}
  	.sub{
  		padding-top: 70px;
  	}
  	.bt{
  		color: white;

  		background-color: #f05a22;
  	}
 	ul{
 		list-style: none;
 	}
 	
 	.form-row{
 		padding: 10px;
 	}
 	/*.m{
 		background-color: black;
 	}*/
 	.in{
 		padding-top: 5px;
 		padding-bottom: 5px;
 	}
 .footer{
    background-color:#3a70b3;height:80px;
    color: white;
  }
  .list{
    color: white;
    font-size:medium;
  }